header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999;
}

.header__nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav li{
    list-style-type: none;
    padding: 0px 20px;
    position: relative;
}

.header__nav a{
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease-in;
    font-size: 1rem;
}

.header__nav li a:hover,
.header__nav li a.active{
    color:#076517;
}

.header__nav li a.active::after,
.header__nav li a:hover::after{
    content: "";
    width: 50%;
    height: 3px;
    background-color: #076517;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#logo{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}